.cart-page{

min-height:100vh;

padding:40px;

background:
linear-gradient(
135deg,
#eef2ff,
#fdf2f8
);

}



.cart-header{

text-align:center;

background:
linear-gradient(
135deg,
#111827,
#4f46e5
);

color:white;

padding:35px;

border-radius:25px;

}



.cart-header h1{

font-size:40px;

}



.cart-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

margin-top:35px;

}



.cart-card{

background:white;

padding:20px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,0.12);

}



.cart-card img{

width:100%;

height:280px;

object-fit:cover;

border-radius:20px;

}



.cart-card h2{

color:#111827;

}



.cart-card h3{

color:#4f46e5;

font-size:25px;

}



.cart-card button{

width:100%;

padding:12px;

border:none;

border-radius:12px;

background:#ef4444;

color:white;

font-size:16px;

cursor:pointer;

}



.cart-card button:hover{

background:#dc2626;

}



.total-box{

margin-top:40px;

background:white;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,0.1);

}



.total-box button{

padding:14px 30px;

border:none;

border-radius:15px;

background:#4f46e5;

color:white;

font-size:18px;

cursor:pointer;

}



.empty-cart{

text-align:center;

background:white;

padding:50px;

margin-top:40px;

border-radius:25px;

font-size:20px;

}



@media(max-width:700px){

.cart-grid{

grid-template-columns:1fr;

}

}